.pic {
    width: 600px;
    height: 600px;
}
li {
    float: left;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: red;
  } 
  h1 {
    text-align: center;
    font-size: 70px;
    letter-spacing: 10px;
  }
  .pic {
    width: 350;
    border: 2px solid red;
    border-radius: 10px;
  }
  p {
    font-size: 70px;
    text-decoration: underline;
  }
  body {
    background-color: chocolate;
  }
  .fa-solid {
    padding: 40px;
    text-align: center;
  }